#first-p {
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: bold;
    font-family: Verdana;
}

.plain {
    font-size: 17px;
    background-color: rgb(91, 145, 172);
    color: rgb(213, 205, 182);
}

#last {
    background-color: rgb(91, 145, 172);
    color: rgb(213, 205, 182);
}

body {
    background-color: rgb(255, 255, 255);
}
