@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: white;
    font-family: Lato, Verdana, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #ffffff;
    color: #C10303;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
}

.logo {
    width: 145px;
    border-radius: 4px;
}

header {
    background-color: #C10303;
    display: grid;
    grid-template-columns: 150px auto 150px;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.headings , .subpage-title {
    font-family: Cairo, Verdana, sans-serif;
    color: #C10303;
    text-align: center;
    margin: 75px auto 0;
    font-size: 35px;
    max-width: 500px;
}

#first {
    margin: 0 auto;
}

#second {
    margin: 0px;
    font-size: 35px;
}

.info {
    box-sizing: border-box;
    margin: 100px auto;
    text-align: center;
    background-color: #000000d1;
    color: white;
    padding: 15px 25px 15px 25px;
    box-shadow: 5px 5px 10px #8c7474;
    border-radius: 8px;
    max-width: 500px;
}

#contact-box {
    box-sizing: border-box;
    background-color: #C10303;
    color: #ffffff;
    text-align: center;
    margin: 0 auto 75px;
    max-width: 950px;
    padding: 55px 0px 55px 0px;
    font-size: 26px;
    font-family: Cairo, Verdana, sans-serif;
    border-radius: 8px;
    box-shadow: 3px 3px 7px #8c7474;
}

#together {
    font-family: Lato, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#together a {
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
}

#together a:hover {
    color: black;
}

#spanish {
    font-weight: bold;
    font-size: 30px;
}

#home-images {
    box-sizing: border-box;
    margin: 0px 40px 60px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 75px;
}

footer {
    background-color: #C10303;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.subitem{
    font-style: italic;
    font-size: .90em;
}

@media screen and (max-width: 600px){
    .info {
        margin: 100px 5%;
    }
    .headings {
        font-size: 20px;
    }
    #second {
        font-size: 19px;;
    }
    body {
        font-size: 16px;
    }
    footer {
        font-size: 12px;
    }
    #contact-box {
        font-size: 18px;
    }
    #together a {
        font-size: 16px;
    }
    #spanish {
        font-size: 20px;
    }
}
